* {
    margin: 0; /*  Supprime les marges par défaut des éléments. */
    padding: 0; /* Supprime les espacements internes (padding). */
    box-sizing: border-box; /* Indique que la largeur et hauteur incluent padding et bordure, évitant des calculs compliqués.*/
}
ul{
    position: absolute; /* Place la liste en position absolue par rapport à son parent positionné */
    top: 0;
    right: 0;
    display: flex; /*Affiche les éléments en ligne flex :(horizontalement)*/
    list-style: none;  /*Permet d'enlever les points lier a (ul) ou (ol)*/
    gap: 25px;  /*Ajoute un espace de 15px entre chaque élément*/
    padding: 35px; /* Ajoute un peu d’espace autour de la liste */
}
 a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: #EE1111;
 }
.entete{
        background-color: #554343;
        padding: 35px;
}
body{
    background-color: #6C4343;
}
.centered-text {
    font-size: 3em;
    text-align: center;
    color: black;
}
.projet{
    display: flex; /* Active Flexbox pour aligner les éléments à l'intérieur.*/
    justify-content: space-around; /* Espace entre les rectangles */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

}
.cube{
    width: 160px; /* Augmente la taille du carré (horizontale) */
    height: 160px; /* Augmente la taille du carré (verticale)*/
    background-color: rgb(118, 69, 69);
    margin: 30px; /*  Ajoute un espacement autour de chaque cube.*/
    border: 2px solid black; /* bordure du carré */
}
h3{
    text-align: center;
    color: black;
}
.color{
    text-align: center;
    color: black;
}